<div class="order-by">
  <div>
    <span>Ordina per: </span>
    <a href="{{ url_for('main.list_lemma', order_field = 'lemma',   order_dir = 'ASC',  filter_field = data.filter_field, filter_value = data.filter_value) }}">L&#8593;</a>&nbsp;
    <a href="{{ url_for('main.list_lemma', order_field = 'lemma',   order_dir = 'DESC', filter_field = data.filter_field, filter_value = data.filter_value) }}">L&#8595;</a>&nbsp;
    <a href="{{ url_for('main.list_lemma', order_field = 'visited', order_dir = 'ASC',  filter_field = data.filter_field, filter_value = data.filter_value) }}">D&#8593;</a>&nbsp;
    <a href="{{ url_for('main.list_lemma', order_field = 'visited', order_dir = 'DESC', filter_field = data.filter_field, filter_value = data.filter_value) }}">D&#8595;</a>
  </div>
 </div>
