<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Repositorio dei lemmi inconsueti">
<meta name="keywords" content="Lingua italiana">
<meta name="author" content="Pierpaolo Calanna">

<title>Lemmario</title>

<link rel="styleheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" type="text/css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="shortcut icon" href="#" />
